.modal-header {
  padding: 20px 20px 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f3;
    color: #252b3a;
  }
}
